{% extends "Padre.html" %}


{% comment %} TEMPLATE DEL ARMADO DE PC {% endcomment %}

{% block title_head %}
Arma tu Pc Perfecta
{% endblock title_head %}

{% block h1_header %}
HXZ GAMERS
{% endblock h1_header %}

{% block h2_header %}
Nuestros Portatiles
{% endblock h2_header %}

{% block main %}

<form action={% url "EliminarPortatil" portatil.id %} method="POST">
    {% csrf_token %}
    <p>
        Desea eliminar el portatil {{portatil}}?
    </p>

    <input type="submit" value="Confirmar">

</form>


{% endblock main %}