{% extends "Padre.html" %}


{% comment %} TEMPLATE UTILIZADO PARA CREAR LA LISTA DE PC ARMADAS {% endcomment %}

{% block title_head %}
Arma tu Pc Perfecta
{% endblock title_head %}

{% block h1_header %}
HXZ GAMERS
{% endblock h1_header %}

{% block h2_header %}
Nuestras Pc Armadas
{% endblock h2_header %}


{% comment %} {% if PcArmadas %} {% endcomment %}
{% block main %}
<form action={% url "Pc Armadas" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>
<ul>
    {% for PcArmada in PcArmadas %}
    <li>{{PcArmada}} |
        <a href={% url "EliminarPc" PcArmada.id%}>EliminarPc</a> |
        <a href={% url "EditarPc" PcArmada.id%}>Editar Pc</a> |
        <a href={% url "VerPc" PcArmada.id%}>Ver Pc</a>
    </li>
    {% endfor %}
</ul>
{% endblock main %}

{% comment %} {% else %}
<p>No hay PcArmadas</p>
{% comment %} {% endif %}  {% endcomment %}

